<% provide(:title, "Home") %>

 <div class="jumbotron">
  <h1>Name of Site</h1>
  <p>Words for site</p>
  <p><a class="btn btn-primary btn-lg" href="coin_flips" role="button">Button for site</a>
  </p>
 </div>

